@mixin black($opacity) {
	background-color: black;
	opacity: $opacity;
}

@mixin white($opacity) {
	background-color: white;
	color: black;
	opacity: $opacity;
}

body {
	@include black(.3);
}

h1 {
	@include white(.8);
}