<div class='container'>
      <div class='row well well-lg'>
        <div class='col-md-6'>
          <h2>The Fastest Way to Developer</h2>
          <p class='lead'>Once you enter the town of NYCDA you just need to decide: backend or frontend! This is your last chance. After this, there is no turning back. You press the white button -- the story ends, you wake up in your bed and believe you are a designer after 12 weeks of trying to align a few pictures in CSS. You press the blue button -- you stay in Wonderland and we show you how deep the backend hole goes.</p>

          <div class='btn-group'>
            <button type='button' data-toggle='dropdown' class='btn btn-default btn-lg'>
              Frontend<span class='caret'></span>
            </button>
            <ul class='dropdown-menu'>
              <li><a href='#'>You think you are an artist</a></li>
              <li><a href='#'>You once made a word in your alphabet soup</a></li>
              <li><a href='#'>You see beauty in a baked potato</a></li>
              <li class='divider'></li>
              <li><a href='#'>Learn More</a></li>
            </ul>
          </div>

          <button type='button' data-toggle='dropdown' class='btn btn-lg btn-primary'>Backend<span class='caret'></span></button>
          <ul class='dropdown-menu'>
              <li><a href='#'>You like databases</a></li>
              <li><a href='#'>You have no soul</a></li>
              <li><a href='#'>You once killed a puppy</a></li>
              <li class='divider'></li>
              <li><a href='#'>Learn More</a></li>
            </ul>
        </div>
        <div class='col-md-6 visible-md visible-lg'>
          <img src='https://s-media-cache-ak0.pinimg.com/736x/67/3a/de/673ade1afb39cf33bd700d04798b593c.jpg' alt='Its Backend, bitch!'/>
        </div>
      </div>
      <div class='row text-center features'>
        <div class='col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0'>
          <i class='glyphicon glyphicon-briefcase'></i>
          <h3>Come to our town today!</h3>
          <p>Even if you're don't want to become a coder, you can still visit us today. We have a number of conveniently located beverage stations and a couch to relax on. We have a projector to watch movies on too!</p>
        </div>

        <div class='col-sm-4 col-xs-6'>
          <i class='glyphicon glyphicon-random'></i>
          <h3>Go Anywhere</h3>
          <p>If you need to get a good paying job, so do we! If you have any leads in other towns, let us know. It's not that NYCDA is bad... Despite the claims, there are have been no deaths in the last 3 weeks!</p>
        </div>

        <div class='col-sm-4 col-xs-6'>
          <i class='glyphicon glyphicon-send'></i>
          <h3>Assistant Junior Developer&reg;</h3>
          <p>For the fastest career that will let you eat out once a month with all that extra cash you'll be making, catch the next class to Assistant Junior Developer&reg;.</p>
        </div>
      </div>
    </div>
    <div class='quote'>
      <div class='container'>
        <blockquote>
          <p>I've heard you are into backend? I'm into backend!</p>
          <footer>Jeff Chew, a local sex offender, literally <cite title="Source Title">5 minutes ago</cite></footer>
        </blockquote>
      </div>
    </div>
    <div class='container transport-systems'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <h2>Our Town and Local Events</h2>
          <p>Learn more about our educational classes to find out which one is right for you. Pick out the mode of learnin' that works for your budget and risk level.</p>
        </div>
      </div>

      <div class='row text-center'>
        <div class='transporter col-md-3 col-md-offset-1 well well-sm'>
          <h3>Designer</h3>
          <ul class='list-unstyled'>
            <li>HTML/CSS</li>
            <li>Chance of death only 1 in 1,983</li>
            <li>Low price of only $10,000!</li>
          </ul>
          <p><button class='btn btn-info'><i class='glyphicon glyphicon-transfer'></i> Enroll me, bitch!</button></p>
        </div>
        <div class='space-elevator col-md-3 col-md-offset-1 well well-sm'>
          <h3>In-Between</h3>
          <ul class='list-unstyled'>
            <li>JavaScript</li>
            <li>Only 1 horrific death per 678 residents</li>
            <li>Only $10,000 if you book today!</li>
          </ul>
          <p><button class='btn btn-info'><i class='glyphicon glyphicon-sort'></i> Want it now!</button></p>
        </div>
        <div class='rocketbus col-md-3 col-md-offset-1 well well-sm'>
          <h3>Backend</h3>
          <ul class='list-unstyled'>
            <li>Ruby/Rails</li>
            <li>Plunging death rate of under 100 residents per semester</li>
            <li>Only $10,000 if you promise not to tell anyone!</li>
          </ul>
          <p><button class='btn btn-info'><i class='glyphicon glyphicon-plane'></i> I promise not to tell!</button></p>
        </div>
      </div>
    </div>
    <div class='quote'>
      <div class='container'>
        <blockquote>
          <p>If you're late one more time, I will give you so much homework for tonight, you will shit your pants!</p>
          <footer>Orlando Caraballo, <cite title="Source Title">almost every morning...</cite></footer>
        </blockquote>
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class='col-md-8'>
          <h2>Book Your Visit Today!</h2>
          <img src="http://weknowmemes.com/generator/uploads/generated/g1368634822762601170.jpg">
        </div>

        <div class='col-md-3 col-md-offset-1'>
          <div class='panel-group'>
            <div class='panel panel-success'>
              <div class='panel-heading'>
                <h4 class='panel-title'>
                  <a data-toggle='collapse' data-parent='.panel-group' href='#systemsOperational'>All Systems are operational</a>
                </h4>
              </div>
              <div id='systemsOperational' class='panel-collapse collapse in'>
                <div class='panel-body'>
                  <p>Offices are operational</p>
                  <ul class='list-unstyled'>
                    <li><i class='glyphicon glyphicon-ok'></i>  Teachers actually came in</li>
                    <li><i class='glyphicon glyphicon-ok'></i>  Coffee is made!</li>
                    <li><i class='glyphicon glyphicon-ok'></i>  Cups are clean</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class='panel panel-warning'>
              <div class='panel-heading'>
                <h4 class='panel-title'>
                  <a data-toggle='collapse' data-parent='.panel-group' href='#pervAlert'>Perv Alert</a>
                </h4>
              </div>
              <div id='pervAlert' class='panel-collapse collapse'>
                <div class='panel-body'>
                  <p>The office advisor issued a warning of a local perv Jeff Chew operating in the area. Please plan accordingly. Dates of sighting:</p>
                  <ul class='list-unstyled'>
                    <li><strong>September 19th, 4:43pm</strong></li>
                    <li><strong>October 5th, 1:20pm</strong></li>
                    <li><strong>November 4th, 10:42am</strong></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class='panel panel-danger'>
              <div class='panel-heading'>
                <h4 class='panel-title'>
                  <a data-toggle='collapse' data-parent='.panel-group' href='#attendanceWarning'>Attendance Generals Warning: Dont't be...</a>
                </h4>
              </div>
              <div id='attendanceWarning' class='panel-collapse collapse'>
                <div class='panel-body'>
                  <p>...late, bitch. Or you don't graduate, and will have to go back to your shitty job serving fries. BTW, do you have any openings there? No reason... We're asking for a friend, yeahhhhhh....</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='footer'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-3 col-sm-4 col-xs-6'>
            <h4>Who We Are</h4>
            <p><i>Why are you asking? Did someone told you to ask about us? All those rumors about us are false and haven't been proven in court!</a>!</p>
            <p><a href='#'>More About Us <i class='glyphicon glyphicon-arrow-right'></i></a></p>
          </div>

          <div class='col-md-offset-1 col-sm-2 col-xs-6'>
            <h4>Links</h4>
            <ul class='list-unstyled'>
              <li><a href='/'>Home</a></li>
              <li><a href='#'>10 reasons you should visit NYCDA</a></li>
              <li><a href='#'>Cock Fights</a></li>
            </ul>
          </div>

          <div class='clearfix visible-xs'></div>

          <div class='col-sm-2 col-xs-6'>
            <h4>Stay in Touch</h4>
            <ul class='list-unstyled'>
              <li><a href='#'>About</a></li>
              <li><a href='#'>Contact Us</a></li>
              <li><a href='#'>Blog</a></li>
              <li><a href='http://twitter.com/nycda'>Twitter</a></li>
              <li><a href='http://facebook.com/nycda'>Facebook</a></li>
            </ul>
          </div>

          <div class='col-md-3 col-md-offset-1 col-sm-4 col-xs-6'>
            <h4>Contact Us</h4>
            <ul class='list-unstyled'>
              <li><i class='glyphicon glyphicon-globe'></i> New York, NY</li>
              <li><i class='glyphicon glyphicon-phone'></i> 1-800-BACKEND</li>
              <li><i class='glyphicon glyphicon-envelope'></i> <a href='mailto:jeff@nycda.com'>jeff@nycda.com</a></li>
            </ul>
            <p>Town of NYCDA &copy;2015.</p>
          </div>
        </div>
      </div>
    </div>
</div>